DATABASE_URL="postgresql://user:password@localhost:5432/cinema_dev?schema=public"
JWT_SECRET="SECRET_KEY_CINEMA_2026"
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379

AWS_REGION="ap-southeast-1"
AWS_S3_BUCKET="your-s3-bucket-name"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
